<% content_for(:title, "テスト") %>
<% flash.each do |message_type, message| %>
	<div class="flash-message <%= message_type %>"><%= message %></div>
<% end %>
<h1>Home</h1>
<p>Find me in app/views/home/index.html.erb</p> 
<% if logged_in? %>
  <p><%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %></p>
<% else %>
  <p><%= link_to 'Login', login_path %></p>
<% end %>
